<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/style.css"/>
    
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>  
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="heading"><h1>Robot Surveillance</h1></div>
      <div class="container">
        <div class="col">
          <div class="img-container">
            <img id="bg" src="{{ url_for('video_feed') }}" />
          </div>
        </div >
        <div class="col" >
          <div class="sub-heading"><h2>Sensor</h2></div>
          <div class="sensor">
            <div class="name"><p>Air Status :</p></div>
            <div class="value"><p id="Status"></p></div>
          </div>
          <div class="sensor">
            <div class="name"><p>Location :</p></div>
            <div class="value"><p id="loc"></p></div>
          </div>
          <div class="sensor">
            <div class="name"><p>Humidity :</p></div>
            <div class="value"><p id="humid"></p></div>
          </div>
          <div class="sensor">
            <div class="name"><p>Temperature :</p></div>
            <div class="value"><p id="temp"></p></div>
          </div>
          <div class="sensor">
            <div class="name"><p>Gas :</p></div>
            <div class="value"><p id="gas"></p></div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <div class="btn-inner-container">
          <div class="btn-col">
            <a href="{{ url_for('move_forward') }}" >
            <ion-icon type="submit" name="arrow-dropup-circle"></ion-icon>
            </a>
          </div>
          <div class="btn-col stop-btn">
            <a href="{{ url_for('move_left') }}" >
            <ion-icon type="submit" name="arrow-dropleft-circle"></ion-icon>
            </a>
            <a href="{{ url_for('stop') }}" >
            <button  class="btn">STOP</button>
            </a>
            <a href="{{ url_for('move_right') }}" >
            <ion-icon name="arrow-dropright-circle"></ion-icon>
            </a>
          </div>
          <div class="btn-col">
            <a href="{{ url_for('move_reverse') }}" >
            <ion-icon name="arrow-dropdown-circle"></ion-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <p>{{ message }}</p>

    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
  </body>
</html>
